
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:blue;font-weight:bold;text-align:center">Đăng Nhập</h2>

<div class="DangNhap">
    @using (Html.BeginForm())
    {
        <h1>@ViewBag.ThongBao</h1>
        <span style="margin-right:2%">Tài Khoản</span>
        @Html.TextBox("txtTaiKhoan", "", htmlAttributes: new { @class = "txtTaiKhoan", @placeholder = "Nhap vao tai khoan..." });<br /><br />
        <span  style="margin-right:2%">Mật Khẩu</span>
        @Html.TextBox("txtMatKhau", "", htmlAttributes: new { @class = "txtMatKhau", @placeholder = "Nhap vao Mat Khau..." });
        <br /><br />
        <input id="btnDangNhap" type="submit" value="Đăng Nhập" class="button button-delete" />
    }
</div>

<style>

    #txtTaiKhoan{
        border:4px solid #ccc;

    }
    #txtMatKhau{
        border:5px solid #ccc;

    }
    .DangNhap{
        text-align:center;
    }
</style>