@using mvc.Models;
@model List<ChuDe>

<h1 style="color:red;background:#ccc;padding:15px 0;text-align:center;">Danh Mục Chủ Đề</h1>
@{
    foreach (var item in Model)
    {
        <a href="@Url.Action("SachTheoChuDe","ChuDe",new { @Ma=item.MaChuDe})" class="button button-submit">@item.TenChuDe</a>
    }
}
<br /><br />
<a href="@Url.Action("DanhMucChuDe","ChuDe")" class="button button-delete">Các Chủ Đề Khác ...</a>
